#wrap > .row > .col {
	background-color: gray;

	border-radius: 20px;
	margin: 5px;
	border: 5px solid;

	/* to make the text center */
	display: flex;
	justify-content: center;
	align-items: center;

	/* working with font size */
	font-weight: bolder;
	font-size: xx-large;
}

#wrap > .row > .col:hover {
	background-color: blue;
}

.row {
	margin: 1px;

	/* height: 10%; */
	/* height: 33%; */
}

#wrap {
	height: 99vh;
}
